<!-- Simple asset list -->
<link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<style>
html {
	margin: 10px;
	font-family: 'Open Sans', cursive;
	color: #006633;
}
h1
{
	font-size: 28px;
}
h2
{
	font-size: 22px;
}
ul
{
    list-style-type: none;
    padding-left: 5px;
}
.assets
{
	font-family: arial;
	font-size: 14px;
}
.col
{
 	float: left;
 	width: 24%;
 }
</style>
<h1>Bosco couldn't find that, how about you try one of these assets or take a look at the list of <a class="" href="/repos">repos</a>?</h1>
<div class='col'>
	<h2>HTML Fragments</h2>
	<ul>
	{{#each html}}
	  <li><a href="/{{this}}">{{this}}</a></li>
	{{/each}}
	</ul>
</div>
<div class='col'>
	<h2>Manifest Files</h2>
	<ul>
	{{#each plain}}
	  <li><a class='assets' href="/{{this}}">{{this}}</a></li>
	{{/each}}
	</ul>
</div>
<div class='col'>
	<h2>Javascript Files</h2>
	<ul>
	{{#each js}}
	  <li><a class='assets' href="/{{this}}">{{this}}</a></li>
	{{/each}}
	</ul>
</div>
<div class='col'>
	<h2>CSS Files</h2>
	<ul>
	{{#each css}}
	  <li><a class='assets' href="/{{this}}">{{this}}</a></li>
	{{/each}}
	</ul>
</div>
<div style='clear: both;'>
	Created by: {{user}} on {{date}}
</div>